# Frontend Firebase (Vite)
VITE_FIREBASE_API_KEY=AIzaSyA-E6ZeW06VaaaKyy8GWijX0SI346ZA0Ok
VITE_FIREBASE_AUTH_DOMAIN=mailassistant-85fdb.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mailassistant-85fdb
VITE_FIREBASE_APP_ID=1:448815944178:web:4dbd41f75c250160f75b6b

# Backend scheduler + SMTP
SCHEDULER_PORT=3001
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=sanjeev28052004@gmail.com
SMTP_PASS=dcsu xfsw oktj lmqx
SMTP_FROM=sanjeev28052004@gmail.com

# Backend Gmail OAuth
GOOGLE_OAUTH_CLIENT_ID=519786227393-0ac90vaf7q2eee4e0bjgd6kvoev6ma2o.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=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
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:3001/api/gmail/oauth/callback
FRONTEND_BASE_URL=http://localhost:3000
